@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bg-base:#161821;

		/* text colors*/
		--color-text-base:#fef9ef;
		--color-text-prime:#5074FF;
		--color-text-muted:#595E76;
	}
}
